bittransgnn_calcs/efficiency_plots/*
visualization/lmbd_plots/*
visualization/logits/*
visualization/logits_new/*
visualization/pca_plots/*
visualization/tsne_plots/*
visualization/logits_processed.pkl
bittransgnn/dataset_full/*